<footer class="site-footer">
    <div class="container">
      <div>&nbsp;</div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
              <div class="col-md-6"><a href="http://portal.merit.mn/" target="_blank"><img src="/LOGO1.png"/></a></div>
              <div class="col-md-6"><a href="http://portal.igg.ac.mn/" target="_blank"><img src="/LOGO4.png"/></a></div>
          </div>
        </div>
        <div class="col-md-6 attribution">
          
            <p><strong style="text-transform: uppercase">{{ _('Contact us') }}</strong></p><br/>

            <div class="row">
                <div class="col-md-12">
                <i class="fa fa-map-marker" style="font-size: 1.4em; float: left;"></i>
                <div style="margin-left: 30px">
                    {{ _('Address') }}: {{ _('Orient Plaza 208, Chagdarjaviin Gudamj, Ulaanbaatar, Mongolia') }}
                       </div>
        </div></div><br/>
            <div>
                <span><i class="fa fa-phone" style="margin-right: 10px;"></i> {{ _('Phone') }}: (976)-7010 1080 &nbsp;&nbsp;&nbsp;<i class="fa fa-envelope-o"></i> 
                    {{ _('E-mail address') }}: info@sesmim.mn</span><br/>
                <span><i class="fa fa-globe" style="margin-right: 10px;"></i> {{ _('Web site') }}: https://sesmim.mn</span>
            </div>
        
        </div>
      </div>
      <hr/>
      <div class="row">
          
          <div class="col-md-6">
            <a href="https://www.international.gc.ca/" target="_blank"><img src="/LOGO3.png" style="width: 100%"/></a>
          </div>
          <div class="col-md-6">

              <div style="float: right;">
                  <div class="footer-social">
                  <i class="fa fa-facebook circle"></i>
                  <i class="fa fa-twitter circle"></i>
                  <i class="fa fa-google-plus circle"></i>
                  <i class="fa fa-youtube-play circle"></i>
                </div>
                  <br/>
              <div style="float: right;">Copyright © 2018 SESMIM</div>
            </div>
            </div>
      </div>
      <div>&nbsp;</div>
    </div>
  
    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
  </footer>