<footer class="site-footer">
    <div class="container">
      <div>&nbsp;</div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="row">
              <div class="col-md-6">
                  <a href="http://portal.merit.mn/" target="_blank">
                    {% if h.lang()=='mn_MN' %}
                    <img src="/merit-footer-logo-en.png"/>
                    {% else %}
                    <img src="/merit-footer-logo-en.png"/>
                    {% endif %}
                  </a>
                </div>
                <div class="col-md-6">
                    <a href="http://portal.igg.ac.mn/" target="_blank">
                      {% if h.lang()=='mn_MN' %}
                      <img src="/igg-footer-logo-mn.png"/>
                      {% else %}
                      <img src="/igg-footer-logo-en.png"/>
                      {% endif %}
                    </a>
                </div>
          </div>
        </div>
        <div class="col-md-6 attribution">
          
            <p><strong style="text-transform: uppercase">{{ _('Contact us') }}</strong></p><br/>

            <div class="row">
                <div class="col-md-12">
                <i class="fa fa-map-marker" style="font-size: 1.4em; float: left;"></i>
                <div style="margin-left: 30px">
                    {{ _('Address') }}: {{ _('Orient Plaza 208, Chagdarjaviin Gudamj, Ulaanbaatar, Mongolia') }}
                       </div>
        </div></div><br/>
            <div>
                <span><i class="fa fa-phone" style="margin-right: 10px;"></i> {{ _('Phone') }}: (976)-7010 1080 &nbsp;&nbsp;&nbsp;<i class="fa fa-envelope-o"></i> 
                    {{ _('E-mail address') }}: info@sesmim.mn</span><br/>
                <span><i class="fa fa-globe" style="margin-right: 10px;"></i> {{ _('Web site') }}: <a href="https://sesmim.mn">https://sesmim.mn</a></span>
            </div>
        
        </div>
      </div>
      <hr/>
      <div class="row">
          
          <div class="col-md-6">
            <a href="https://www.international.gc.ca/" target="_blank"><img src="/gac-logo.png" style="width: 100%"/></a>
          </div>
          <div class="col-md-6">

              <div style="float: right;">
                  <div class="footer-social">
                  <a href="https://www.facebook.com/SESMIM-Project-502593469934243/" target="_blank"><i class="fa fa-facebook circle"></i></a>
                  <a href="https://twitter.com/search?q=SESMIM" target="_blank"><i class="fa fa-twitter circle"></i></a>
                  <a href="#"><i class="fa fa-google-plus circle"></i></a>
                  <a href="https://www.youtube.com/channel/UCsu-_gZ53_6TEHcIewGbDYA" target="_blank"><i class="fa fa-youtube-play circle"></i></a>
                </div>
                  <br/>
              <div style="float: right;">Copyright © 2018 SESMIM</div>
            </div>
            </div>
      </div>
      <div>&nbsp;</div>
    </div>
  
    {% block footer_debug %}
      {% if g.debug %}
        {% include 'snippets/debug.html' %}
      {% endif %}
    {% endblock %}
  </footer>